@use 'variables' as v; 
@use 'mixins' as m;

.build{
    text-align:center;
    font-family:v.$fuenteBody;


    &__contenido{
        padding: 3rem 4rem;
        background-color: #fff;
        box-shadow: 1px 1px 3px $GrayishBlue;
        width:95%;
        margin:0 auto;
        position: relative;
        top: 60px;
        border-radius:2rem;
        @include m.desktop{
            width:50%;
        }
    }

    &__heading{
        font-size:1.6rem;
        @include m.desktop{
            font-size:2.2rem;
        }
    }

    &__btn{
        padding: 1.5rem 7rem;
        background-color:v.$rosa;
        color:#fff;
        margin-top:2rem;
        border-radius:2rem;
        font-size:1.4rem;
        display:inline-block;
        font-weight:600;

        &:hover{
            background-color:#efaeff;
        }
    }
}