@use 'variables' as v; 
@use 'mixins' as m;

.cards{
    font-family:v.$fuenteBody;
}
.crecer{
    padding:3.5rem;


    &__contenido{
        border-radius: 3rem;
        padding: 1.5rem 4rem;
        background-color: #fff;
        box-shadow: 1px 1px 3px $GrayishBlue;
        @include m.tablet{
            @include m.grid(2, 3rem);
            align-items: center;
        }
    }

    &__imagen{
        width:70%;
        margin:0 auto;
        grid-column:2/2;
    }
    &__descripcion{
        padding:2.5rem;
        text-align:center;
        @include m.tablet{
            grid-row:1/1;
        }
    }

    &__heading{
        font-size:2.2rem;
        font-weight:700;
        @include m.tablet{
            text-align:left;
        }
    }

    &__texto{
        margin-top:1.2rem;
        font-size:1.6rem;
        color:v.$GrayishBlue;
    }
}
.conversaciones{
    padding:3.5rem;

    &__contenido{
        border-radius: 3rem;
        padding: 1.5rem 4rem;
        background-color: #fff;
        box-shadow: 1px 1px 3px $GrayishBlue;

        @include m.tablet{
            @include m.grid(2, 3rem);
            align-items: center;
        }
    }

    &__imagen{
        width:70%;
        margin:0 auto;
        grid-column: 1/1;
    }
    &__descripcion{
        padding:2.5rem;
        text-align:center;
    }

    &__heading{
        font-size:2.2rem;
        font-weight:700;
        @include m.tablet{
            text-align:left;
        }
    }

    &__texto{
        margin-top:1.2rem;
        font-size:1.6rem;
        color:v.$GrayishBlue;
        @include m.tablet{
            text-align:left;
        }
    }
}
.users{
    padding:3.5rem;


    &__contenido{
        border-radius: 3rem;
        padding: 1.5rem 4rem;
        background-color: #fff;
        box-shadow: 1px 1px 3px $GrayishBlue;
        @include m.tablet{
            @include m.grid(2, 3rem);
            align-items: center;
        }
    }

    &__imagen{
        width:70%;
        margin:0 auto;
        grid-column:2/2;
    }
    &__descripcion{
        padding:2.5rem;
        text-align:center;
        @include m.tablet{
            grid-row:1/1;
        }
    }

    &__heading{
        font-size:2.2rem;
        font-weight:700;
        @include m.tablet{
            text-align:left;
        }
    }

    &__texto{
        margin-top:1.2rem;
        font-size:1.5rem;
        color:v.$GrayishBlue;
        @include m.tablet{
            text-align:left;
        }
    }
}

