//COLORES

$rosa:hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

//FUENTES
$fuenteHeading: 'Poppins', sans-serif;
$fuenteBody:  'Open Sans', sans-serif;

//TAMAÑOS PANTALLA
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
